.idea/

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.exe
*.iml
tmp/
logs/
catvod
static/1.json
static/2.json
catvod.*
main
test.png
appKey.json